<div class="container">
  <h1>Product Types</h1>
  <br>
  <%= link_to 'Back', url_for(:back) %>
  <br>
  <br>
  <table>
    <tr>
      <th>Product Type Category</th>
      <th>Product Titles</th>
      <th>Inventory</th>
    </tr>
    <tr>
      <td>
        <%= @product_type.category %>
        <% @product_type.products.each do |product| %>
          <td><%= link_to product[:title], product_path(product) %></td>
          <td>Remaining Inventory: <%= product[:quantity] %> | Price: <%= number_to_currency(product[:price]) %></td>
        <% end %>
      </td>
    </tr>
  </table>
</div>
