<div class="container">
<br>
<%= image_tag('store.jpg', style: "height: 600px; width: 100%") %>
<h1 align="center">Falmouth Falcons-Buy and Sell Store</h1>

<div class="centered">
<h1 class="white">Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, class: "white" %><br />
    <%= f.text_field :email %>
  </div>
  
    <div class="field">
    <%= f.label :city, class: "white" %><br />
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label :password, class: "white" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: "white" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div class="actions"><%= f.submit "Sign Up", class: "btn btn-primary" %></div>
<% end %>

</div>
</div>