<div class="container">
<br>
<h1>Shopping Cart</h1>
<%= link_to 'Back', url_for(:back) %>

<table class="order_rows">
<h1> <% @total = 0%>  </td>  <h4> 

<button type="button" class="btn btn-warning"><%= link_to 'Place Order', place_order_path %>  </h4></button>



<tr>
  <td></td><td></td> <td></td><h1> <% @total = 0%>  
  
  <%# OPTION TO CANCEL ORDER with confirmation. This will empty the "shopping cart" of all products%>
<td></td><td></td> <button> <%= link_to 'Cancel Order', order_path(@order) , method: :delete,
        data: { confirm: 'Are you sure? This will remove all products from your shopping cart!' }%> </button>

  </td><td> <h4> <%= link_to 'Place Order', place_order_path %> </td> </h4>
</tr>

<tr class="order_rows tr_header">
  <th class="order_rows">Title </th>
  <th class="order_rows">Category </th>

  <th class="order_rows">Local Delivery? </th>
  <%# <th class="order_rows">City </th> %>
  <th class="order_rows">Type </th>
  <th class="order_rows">Quantity </th>
  <th class="order_rows">Price </th>
  <th class="order_rows">Pic </th>
  <th class="order_rows">Remove Item</th>

</tr>

<hr>



<% @order.products.each do |product| %>

  <tr>
    <td class="order_rows"><%= product.title %> </td>
    <td class="order_rows"><%= product.product_type_id %> </td>
    <td class="order_rows"><%= product.delivery %> </td>
    <%# <td class="order_rows"><%= product.city %> </td>
    <td class="order_rows"><%= product.type %> </td>
    <td class="order_rows"><%= product.quantity %> </td>
    <td class="order_rows"><%= product.price %> </td>
    <%# Get image if available %>
    <td class="order_rows"> <% if product.product_image.present? %>
          <%= image_tag product.product_image , :class => "order_image " %>
        <% else %>
          <%= image_tag('boat.jpg', :class => "order_image")%>
        <% end %> </td>
    <%# Remove item from shopping %>
    <td class="order_rows"><%= link_to 'Delete',  delete_product_from_order_path(product),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>


   
  
<% @total += product.price %>
<% end %>

  </tr>

<h4> Total Price: <%= @total.round(2)%></h4><br>

</table>


</div>
