<div class="container">
<br>
<h1>Shopping Cart</h1>
<%= link_to 'Back', url_for(:back) %>

<br>

<table class="order_rows">

<tr>
  <td></td><td></td> <td></td><h1> <% @total = 0%>  </td>  <td> <h4> <%= link_to 'Place Order', place_order_path %> </td> </h4>
</tr>

<tr class="order_rows tr_header">
  <th class="order_rows">Title </th>
  <th class="order_rows">Category </th>

  <th class="order_rows">Local Delivery? </th>
  <%# <th class="order_rows">City </th> %>
  <th class="order_rows">Type </th>
  <th class="order_rows">Quantity </th>
  <th class="order_rows">Price </th>
  <th class="order_rows">Pic </th>

</tr>

<hr>

<br><br>

<% @final.each do |product| %>


  <tr>
    <td class="order_rows"><%= product.title %> </td>
    <td class="order_rows"><%= product.product_type_id %> </td>
    <td class="order_rows"><%= product.delivery %> </td>
    <%# <td class="order_rows"><%= product.city %> </td>
    <td class="order_rows"><%= product.type %> </td>
    <td class="order_rows"><%= product.quantity %> </td>
    <td class="order_rows"><%= product.price %> </td>

<td>   <% if product.product_image.present? %>
          <%= image_tag product.product_image , :class => "order_image " %>
      <% else %>
          <%= image_tag('boat.jpg', :class => "order_image")%>
      <% end %> </td>
<% @total += product.price %>
<% end %>

  </tr>

<h3> Total Price: <%= @total.round(2)%></h3><br>

</table>


</div>
