<div class="container">
<br>
<h2>Select Payment Type to Complete Order</h2>

  <button type="button" class="btn-default"><%= link_to 'Back', url_for(:back) %></button>
  <br>
  <br>
  <%= link_to 'Payment Options', url_for(:payment_types) %>
  <br>
  <br>

  
    <%# loops through each payment type %>
    <%# <% @payment_types.each do |type| %>

  <%= "Select a Payment Type to Proceed" %>
    
    
        <%= form_with model: @payment_type, method: :PUT do |form| %>
            <%= form.select :payment_type_id, PaymentType.where(:customer_id => session[:user_id]).collect { |pt| [pt.payment, pt.id] } , include_blank: true %>
        <br> <br>
        <%# May not proceed to checkout if no payment types are absent %>
          <% if @payment_types.any? %>
              <%= form.submit 'Complete Your Order'%>
          <% end %>
    
    
        <% end %>

</div>

