<div class="container">
<br>
<h2>Select Payment Type to Complete Order</h2>
<%= link_to 'Back', url_for(:back) %>
<br>

<br>
<table class="payment_types">
    <th>
        <%# loops through each payment type %>
        <% @payment_types.each do |type| %>
        <tr class="payment_types">
            <td class="payment_types"><input type="radio" name="paymentType" value="<%= type.payment %>"><%= type.payment %> </td>   <td class="payment_types"> <%= type.account_number %> </td>
       <tr>
        <% end %>
     <tr> <%= @total %> <td>  </td> 
         <td> <%= link_to 'Complete Order', complete_order_path %> </td>  
    </tr>   
</table>
<%# <button class="btn btn-primary margin_applied" type="submit">Complete Order</button> %>
</div>


