 <div class="container">
 </br>

<h1>All Products</h1>

<p><button type="button" class="btn-default"><%= link_to 'Back', url_for(:back) %></button></p>
<h4>Products for Sale</h4>

<%= form_tag products_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

 <table class="all_prod_rows">
<tr class="all_prod_rows tr_header">
  <th class="order_rows"><%= link_to 'Title'%></th>
  <th class="order_rows"><%= link_to 'Category', product_types_path %></th>
  <th class="order_rows"><%= link_to 'Price'%></th>
  <th class="order_rows"><%= link_to 'Type'%></th>
  <th class="order_rows"><%= link_to 'Local Delivery?'%></th>
  <th class="order_rows"><%= link_to 'Quantity Available'%></th>
  <th class="order_rows"><%= link_to 'Image'%></th>
    <th class="order_rows"><%= link_to 'Details'%></th>

</tr>

<hr class="all_prod_rows">
    <%# loop for each product on index page  %>
<% @product.each do |product| %>
    <%# shows only active listings %>
    <% if product.active == true || product.active.nil? %>
    <tr class="all_prod_rows">
      <td class="all_prod_rows"><%= product.title %> </td>
      <td class="all_prod_rows"><%= product.product_type_id %> </td>
      <td class="all_prod_rows"><%= number_to_currency(product.price) %> </td>
      <td class="all_prod_rows"><%= product.type %> </td>
      <td class="all_prod_rows"><%= product.delivery %> </td>
      <%# <td><%= product.active %>
      <td class="all_prod_rows"><%= product.quantity %> </td>
      <td class="order_rows"> <% if product.product_image.present? %>
        <%= image_tag product.product_image , :class => "small_image " %>
        <% else %>
          <%= image_tag('boat.jpg', :class => "small_image")%>
        <% end %> </td>   
     <td class="order_rows"><%= link_to '  Show Detail', product_path(product), class: "btn btn-primary"%> </td>
      <%# <td><%= link_to 'Destroy', product,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
<% end %>
</table>

</div>
