<%# <%= link_to 'ProductToSell', new_product_url %>
<br>
<%# <%= link_to 'Home', welcome_index_path %> 
<h1>Products for Sale</h1>
<br>

<table>
<tr>
    <th>Title </th>
    <th>Category </th>
    <th>Price </th>
    <th>Type </th>
    <th>Delivery </th>
    <th>City </th>
    <th> </th>

</tr>
<% @product.each do |product| %>
   <tr>
    <td><%= product.title %> </td>
    <td><%= product.category %> </td>
    <td><%= product.price %> </td>
    <td><%= product.type %> </td>
    <td><%= product.delivery %> </td>
    <td><%= product.city %> </td>
    <td><%= link_to 'Show', product_path(product)%> </td>
</tr>

<% end %>
</table>
