 <%= link_to 'Buy/Sell Products', products_path %>
<%= form_with model: @product, local: true do |form| %>

<% if @product.errors.any? %>
  <div id="error_explanation">
   <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
     <%= form.label :category %><br>

  <%= form.select :category, Product.all.collect { |p| [ p.category, p.id ] }, include_blank: true %>

  <p>
    <%= form.text_area :category %>
  </p>
 
 <p>
    <%= form.label :type %><br>
    <%= form.text_area :type %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </p>

  <p>
    <%= form.label :delivery %><br>
    <%= form.text_area :delivery %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_area :city %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>