 <div class="container">
 <%# The Form to create a new product listing %>
<%# My Products -- Sub-menu %>

<br>
<h1>List a Product for Sale</h1>
<p><button type="button" class="btn-default"><%= link_to 'Back', url_for(:back) %></button></p>
<%= form_with model: @product, local: true do |form| %>

<% if @product.errors.any? %>
  <div id="error_explanation">
   <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.file_field :product_image %>
  </p>

  <%= form.label :category %><br>
  <%= form.select :product_type_id, ProductType.all.collect { |p| [ p.category, p.id] }, include_blank: true %>
<br><br>

 <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, :cols => "40", :rows => "2" %>
  </p>

 <p>
    <%= form.label :type %><br>
    <%= form.text_field :type %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :delivery, "Local Delivery" %><br>
    <%= form.label :delivery, "Yes", :value => "true" %>
    <%= form.radio_button :delivery, true %>
    <%= form.label :delivery, "No", :value => "false" %>
    <%= form.radio_button :delivery, false, :checked => true %>
  </p>

  <p>
    <%= form.label :quantity %><br>
    <%= form.text_field :quantity %>
  </p>

  <p>
    <%= form.submit 'Submit' %>
  </p>
<%# This should go to a confirmation page upon submit, then to the My Products section to show it listed. %>
<% end %>


</div>