<br>
<p class="move_right"><%= link_to 'Back', url_for(:back) %></p>
<br>

<h3 class="move_right">Product Detail</h3>

<%= form_with model: @order, :url => add_to_cart_path, local: true do |form| %>

    <%=hidden_field(:product, :id)%>
   
   <div class="row">
  <div class="col-3">

            <p class="move_right"><%= @product.title %> </p>
            <p class="move_right"><%= @product.product_type_id %> </p>
            <p class="move_right">Price: <%= @product.price %> </p>
            <p class="move_right">Description: <%= @product.description %> </p>
            <p class="move_right">Quantity Available:<%= @product.quantity %> </p>

    <p>
        <%= form.submit %>
    </p>

    </div>
 <%# shows image only if one exits if not then a generic image is shown %>
 <% if @product.product_image.present? %>
    <div class="col-9"><%= image_tag @product.product_image %> 
<% elsif %>
    <div class="col-9"><%= image_tag('boat.jpeg')%>
 <% end %>

   
<% end %>
