<br>
<%= link_to 'back', products_path, :class => "move_right" %>
<br>

<h3 class="move_right">Add To Cart</h3>

<%= form_with model: @order, :url => add_to_cart_path, local: true do |form| %>

    <%=hidden_field(:product, :id)%>
   
   <div class="row">
  <div class="col-3">
            <p class="move_right"><%= @product.title %> </p>
            <p class="move_right"><%= @product.category %> </p>
            <p class="move_right"><%= @product.description %> </p>

    <p>
        <%= form.submit %>
    </p>


    </div>
 <%# shows image only if one exits %>
 <% if @product.product_image.present? %>
    <div class="col-9"><%= image_tag @product.product_image %> 
 <% end %>

   
<% end %>
